/* hide theme buttons (Previous, Next) */
.rst-versions {
  height: unset;
  cursor: default !important;
}
.rst-versions .rst-current-version {
  display: none;
  cursor: default;
}

.version-select__bar {
  padding: 14px;
  text-align: right;
  color: #27AE60;
  user-select: none;
  font-size: 14.4px;
  display: block;
  background-color: #272525;
  cursor: pointer;
}
.version-select__bar > i {
  margin-left: 2px;
  color: #fff;
}

.version-select__menu {
  background-color: #1f1d1d;
  padding: 12px;
  user-select: none;
  display: none;
}
.version-select--shift-up .version-select__menu {
  display: block;
}

.version-select__menu-versions dt {
  color: #999;
  font-size: 90%;
}
.version-select__menu-versions dd {
  display: inline-block;
  padding: 8px;
}
.version-select__menu-versions dd .version {
  color: #fff;
  font-size: 85%;
  cursor: pointer;
}
.version-select__menu-versions dd .version--active {
  font-weight: bold;
}